:root {
  --ash-gray: #cad2c5ff;
  --cambridge-blue: #84a98cff;
  --hookers-green: #52796fff;
  --dark-slate-gray: #354f52ff;
  --charcoal: #2f3e46ff;
  
}

.pageLinks{
  /* border: 1px solid #1e5dca; */
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  

}

.pageLinks a{
  /* border: 1px solid #19b0eb; */
  height: 30px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  
}


.mainHead{
  /* border: solid purple; */
  position: relative;
  text-align: center;
}

.mainHead img{
  height: 300px;
  width: 100%;
  display: block;
  

}

.mainHead h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 50px; /* Adjust the font size as needed */
  color: white; /* Set the text color */
}

.mainContainer{
  background: var(--ash-gray);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0; 
}
.projectThumbnails{
  /* border: solid blue; */
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0; 
  width: 100%;
}

.projectThumbnails h4, p{
  display: flex;
  justify-content: center;
}


.imgDiv img{
  height: 100%;
  width: auto;

}

.imgDiv{
  height: 250px;
  width: 250px;
  /* border: 1px solid #bd0303; */
}



footer{
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;

}